@charset "utf-8";

body {
	/* width: 1280px; */
	height:1000px;
  margin: 0 auto;
  padding: 0;
  /* background-color: #cccccc; */
  color: #333333;
  font-size: 15px;
	line-height: 2;
	background-image: url(./images/water.jpg);
    background-repeat: no-repeat;
    background-position: center top;
		background-attachment: fixed;
		background-size: cover;
}

h1 h2 h3 h4 h5 h6 li ul{
	padding: 0;
	margin: 0;
}

header{
		height: 60px;
		padding: 0 auto;
		background-color:#a3b1bf;

}

.logo{
	float: left;
}

.logo img{
	padding: 10px;
		width: 50px;
		height: 50px;
}

.global-nav{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content:flex-end;
    padding-right: 150px;
}

.global-nav li{
    flex-direction:row;
    list-style: none;
		/* ・を消すやつ */
		font-family: 'Fjalla+One', sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 0 10px;
}

.global-nav a{
    color: white;
    text-decoration: none;
    /* 下線を消すやつ */

}
.global-nav a:hover{
	color: white;
	text-decoration: underline;
	/* 下線を消すやつ */

}
/* -----------headerここまで---------- */



.bluebox {
	/* margin-top: 100px; */
	display: block;
	background-color:RGB(55,190,240,0.8);
	height: 250px;
	width: 960px;
	margin: 0 auto;
	margin-top: 150px;
	border:1px solid #707070;
	box-sizing: border-box;

	
}

.bluebox h1{
	color: white;
	text-align:left;
	font-size: 68px;
	padding: 0;
	margin: 0;
	font-family: 'Fjalla+One', sans-serif;
	font-weight: 700;
	margin: 10px;	
	line-height: 1.5;
}

.greybox{
	width: 960px;
	height: 140px;
	background-color: RGB(163,177,191,0.8)
	;
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
	border:1px solid #707070;
	box-sizing: border-box;
	/* borderの大きさだけ、幅が小さくなる */


}

.greybox p{
	padding: 0;
	margin: 0;
	font-size: 19px;
	color: white;
	margin: 10px;
	margin-right: 50px;
	opacity:1;
	font-family: "Rounded Mplus 1c"; 


}
.btn{opacity: 1;}

.greybox .btn a{
	background-color: #21759B;
	color: white;
	font-size: 18px;
	font-weight: bold;
	width: 185px;
	display:block;
	opacity: 1;
	/* 高さや幅を指定するのに必要 */
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	margin: 45px 0;
	border-radius: 5px;
	border:3px solid #21759B;
}

.btn a:hover{
	text-decoration: none;
	background-color: #fff;
	color:  #21759B;

}

@media screen and (max-width:600px){
	/* 画面サイズ600以下の時に適応 */

	body{
		font-size: 3.5vw;
		width: 100%;
		background-image: url(./images/water_sp.png);
	}

	
	
	h1{
		font-size: 7.2vw;
	}

	header{
		width: auto;
		margin: auto;
	}

	.logo{
		float:left;
		/* margin-top: 60px; */
		text-align: left;
		height: 40px;
	}

	
	.global-nav{
		background-color: #a3b1bf;
		float:right;
		/* margin-top: 40px; */
		margin-right: 0%;
		padding-right: 0%;

	}

.global-nav ul{
	background-color: #a3b1bf;
	
}
	.global-nav li{
		padding-top: 5%;
		font-size: 4vw;
		float: right;
	}

	#wrap{
		width: 100%;
	}

	.content{
		width: 100%;
	}

	.bluebox {
		max-width: 100%;
		height: 150%;
		/* width:368px; */
	background-color:RGB(55,190,240,0.8);

	}

	.greybox{
		max-width: 100%;
		/* width:368px; */
	}

	.bluebox h1{
		/* width:px; */
		font-size: 7.2vw;
	}

	.greybox p{
		max-width: 70%;
		font-size: 2.2vw;
		line-height: 3;
		margin: 5%;
		padding: 0;
		

	}

.greybox .btn{
	max-width: 10%;
	padding: 1%;
}

	.greybox .btn a{
		max-width: 250%;
		font-size: 3vw;
		margin: 0;
		padding: 5%;
		margin: 5% 0;
		float: right;	
		text-align: center;

}
}
